/* les styles poue la nav barre*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: hsl(0, 5%, 91%);
    overflow: hidden;
    
}



nav a {
    float: left;
    display: block;
    color: rgb(54, 54, 54);
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}

/*  nav barre    */

/* Style pour centrer le h1 */
.titre-principal{
    text-align: center;
    padding: 10px;
    
}
/*    h1   */

/* mon deuxiem titre */
.titre-2{
    margin-top: 20px;
}

/* le background du body */
body {
    background-color: #878585!important;
}
/*     */

/* le texte du milieu */
.le-titre-du-milieu{
    background-color: #d7d6d6 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 50%;
    position: relative;
    left: 50vh;
}

.le-texte-du-milieu{
    margin: 10px;
    padding: 10px;

}
hr{
    margin: 10px;
  
}


/*     */


/* l'emplacement du tableau  */


.tableau{
    position: relative;
    left: 175vh;
    bottom: 61vh;
    width: 25vh;
    background-color: #fcfcfc;
}

/*     */


/* mon bouton */
#button {
    background-color: red; /* Couleur de fond rouge */
    color: white; /* Texte en blanc */
    font-size: 20px; /* Taille de police  */
    padding: 7px 14px; /* Espacement interne de 10px en haut/bas et 20px à gauche/droite */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur de la souris en forme de main au survol */
}


/*   */
 

/* la photo de papillon */

.photo-papi {
    width: 100%; /* Redimensionne l'image à 50% de sa taille d'origine */
    height: 100%; /* Garde le ratio hauteur/largeur pour éviter toute déformation */
}


/*   */ 

/* le paragraphe pour le papillon */

.papillon {
    background-color: #f6eaea ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 16%;
    position: relative;
    left: 50vh;
    bottom: 133vh;
    left :6vh
}

/*    */

/* le bouton de paipllon */

#my-bouton {
    background-color: #3887ef; /* Couleur de fond rouge */
    color: white; /* Texte en blanc */
    font-size: 15px; /* Taille de police  */
    padding: 7px 10px; /* Espacement interne  en haut/bas    à gauche/droite */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur de la souris en forme de main au survol */
    width: 80%;
}
