/* les styles poue la nav barre*/
nav {
    background-color: #c2bebe;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/*  nav barre    */

/* Style pour centrer le h1 */
.titre-principal{
    text-align: center;
    
}
/*    h1   */

/* le background du body */
